//custom styles
header {
    .site-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;

        h1,
        h2 {
            margin: 0;
        }

        form {
            width: 300px;
        }
        img{
            width:120px;
        }
    }

    .site-bar .nav {
        width: 100%;
    }

    &.fixed {
        position: fixed;
        width: 100%;
        background: #fff;
        left: 0;
        top: 0;
        z-index: 9999999;
    }
}

header+#site-content {
    padding-top: 144px;
}

.homepage {
    &-headliner {
        text-align: center;
        margin-bottom: 30px;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0;
            width: calc(50% - 85px);
            background: #ebebeb;
        }

        &:after {
            right: 0;
            left: auto;
        }
    }

    .home-page-article {
        margin-bottom: 15px;
        display: inline-block;
        box-shadow: 2px 2px 6px #f0f0f0;

        .entry {
            &-featured {
                margin: 0;
            }

            &-content {
                box-sizing: border-box;
                padding: 10px 15px;

                h4 {
                    margin: 0 0 5px 0;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        &:hover {
            -webkit-box-shadow: 0px 2px 15px 7px rgba(208, 208, 208, 1);
            -moz-box-shadow: 0px 2px 15px 7px rgba(208, 208, 208, 1);
            box-shadow: 0px 2px 15px 7px rgba(208, 208, 208, 1);
            transform: scale(1.01);
        }
    }
}

// custom blog styles
.entry {
    &-featured {
        img {
            width: 100%;
        }
    }
    &-title{
        font-weight:bold;
    }

    &-author-time {
        text-align: center;
    }

    .share-thoughts {
        margin: 15px 0 0;
    }
}

// category loop styles
.category-grouping{
    list-style: none;
    padding: 0 15px;
    .category-title{
        border-top:2px solid #000;
        padding: 5px 0 0;
        font-weight:bold;
        font-size:30px;
    }
    .deck-cards, .three-cards{
        > ul{
            list-style: none;
            display: flex;
            padding:0;
        }
        margin-bottom: 30px;
        article{
            .entry-meta, .entry-title{
                text-align: left;
                padding:0;
            }
        }
    }
    .deck-cards{
        .posts-deck{
            display: flex;
            justify-content: space-between;
            .featured{
                width: calc(50% - 15px);
                .entry-featured{
                    margin-top: 0;
                }
            }
            .deck-list{
                width: calc(50% - 15px);
                list-style: none;
                li{
                    position: relative;
                    &:first-child{
                        display: none;
                    }
                    .entry-featured{
                        position: absolute;
                        width:30%;
                        height:auto;
                        left:0;
                        top:0;
                        margin-top:0;
                    }
                    .entry-details{
                        display: inline-block;
                        width:65%;
                        margin-left:35%;
                        .entry-meta, .entry-title{
                            margin-bottom:5px;
                        }
                    }
                    .article-content{
                        margin-top:30px;
                    }
                }
            }
        }
    }
    .three-cards{
        ul{
            justify-content: space-between;
            li{
                width:calc(33.3333333% - 20px);
            }
        }
    }
}

// announcement style
.announcement{
    font-size: .75rem;
    line-height: 1rem;
    background-color: #fff8c8;
    -webkit-box-shadow: 1px -1px 3px 0 rgba(0,0,0,.05);
    box-shadow: 1px -1px 3px 0 rgba(0,0,0,.05);
    color: #000;
    margin: 0 0 30px;
    padding: 15px;
    text-align: left;
    .widget-title{
        font-weight: bold;
        border-bottom: none;
        padding:0;
        color:#ff4e00;
        margin-bottom:5px;
    }
    .textwidget{
        a{
            text-decoration:underline;
        }
    }
}

.widget {
    &-title {
        background: none;
        border-bottom: 2px solid #000;
        color: #000;
        text-align: left;
        font-size: 20px;
        padding: 5px 0;
    }
}

// custom media query styles
//for tablets and mobile devices 
@media (max-width:766px) {
    header {
        .site-logo {
            flex-wrap: wrap;

            h1,
            h2 {
                margin-bottom: 15px;
            }

            form {
                width: 100%;
            }
        }
    }
}

@media (min-width:767px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .no-padding {
        padding: 0;

        &-right {
            padding-right: 0;
        }

        &-left {
            padding-left: 0;
        }
    }

    .slick-slider {
        height:400px;
        overflow: hidden;
        .slide {
            height: 100%;
            max-height: 400px;
            position: relative;
            .slide-content {
                background: rgba(255, 255, 255, .5);
                top:auto;
                bottom: 0;
                left:0;
                width:100%;
                height: auto;
                transform: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 15px;
                h2{
                    font-size:15px;
                }
                .entry-meta, .entry-title{
                    margin-bottom:5px;
                }
                .read-more{
                    margin-top:0;
                }
            }

            img {
                height: 400px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .announcement{
        position: relative;
        &:before{
            background: #fff8c8;
            -webkit-box-shadow: 1px 2px 3px 0 rgba(0,0,0,.05);
            box-shadow: 1px 2px 3px 0 rgba(0,0,0,.05);
            content: "";
            width: calc(100% - 14.28571px);
            height: 14.28571px;
            position: absolute;
            top: 100%;
            right: 14.28571px;
        }
        &:after{
            border: 7.14286px solid #ffe349;
            border-right: 7.14286px solid transparent;
            border-bottom: 7.14286px solid transparent;
            content: "";
            width: 0;
            height: 0;
            margin-left: -14.28571px;
            position: absolute;
            top: 100%;
            left: 100%;
        }
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1367px;
    }
}

@media (min-width: 1700px) {
    .container {
        width: 1600px;
    }
}